subpackage:
  - runtime*
name: gnu+coreutils
version: 8.27
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Core Utils.
  long: ''
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      http://mirror.switch.ch/ftp/mirror/gnu/coreutils/coreutils-<THIS.VERSION>.tar.xz
    ref: ''
    out: ''
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION> && ./configure --prefix=<PEON.PREFIXDIR>'
  rules:
    type: make
    location: data/coreutils-<THIS.VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: vstest
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
