subpackage:
  - runtime*
name: gnu+coreutils
version: '8.30'
$version: '8.30'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Core Utils.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    lzmautils+xz:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/coreutils/coreutils-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    $hash: e831b3a86091496cdba720411f9748de81507798f6130adeaef872d206e1b057.tar.xz
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION> && ./configure --prefix=<PEON.PREFIXDIR>'
  rules:
    type: make
    location: data/coreutils-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: rm('<PEON.PREFIXDIR>/share/info/dir');
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
