subpackage:
  - runtime*
name: wall+perl
version: 5.30.0
$version: 5.30.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Perl.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://www.cpan.org/src/5.0/perl-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && sh Configure -Dprefix=<PEON.PREFIXDIR>
    -Duserelocatableinc -Dusedl -de -Dman1dir= -Dman3dir=
  rules:
    type: make
    location: data/perl-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other:
      PERL5LIB: >-
        <OS.ROOTDIR>/usr/lib/perl5/<THIS.$VERSION>:<OS.ROOTDIR>/usr/lib/perl5/<THIS.$VERSION>/<OS.ARCH2>-<OS.NAME>:<OS.ROOTDIR>/usr/lib/perl5/site_perl/<THIS.$VERSION>:<OS.ROOTDIR>/usr/lib/perl5/site_perl/<THIS.$VERSION>/<OS.ARCH2>-<OS.NAME>:<OS.ROOTDIR>/usr/lib/perl5/site_perl
      XCRAFT_PERL_VERSION: <THIS.$VERSION>
  embedded: true
  runtime:
    configure: ''
