name: microsoft+nuget
version: 5.8.1-7
$version: 5.8.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Package manager for the Microsoft development platform including .NET.
  long: The NuGet client tools provide the ability to produce and consume packages. The NuGet Gallery is the central package repository used by all package authors and consumers.
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://dist.nuget.org/win-x86-commandline/v<THIS.$VERSION>/nuget.exe'
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: 'mv (''nuget.exe'', ''root/usr/bin/nuget.exe'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
