name: microsoft+ndp-46
version: 4.6.1
$version: 4.6.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: .NET Framework Developer Pack
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://download.microsoft.com/download/F/1/D/F1DEB8DB-D277-4EF9-9F48-3A65D4D8F965/NDP461-DevPack-KB3105179-ENU.exe
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: ''
  rules:
    type: exec
    location: NDP461-DevPack-KB3105179-ENU.exe
    args:
      postinst: /norestart /q
      prerm: /norestart /q /uninstall
  env:
    path: []
    other: {}
  embedded: true
