subpackage:
  - runtime*
name: sisong+hdiffpatch
version: 3.1.1-20
$version: 3.1.1
distribution: matrix/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: a C\C++ library and command-line tools for Diff & Patch between binary
  long: a C\C++ library and command-line tools for Diff & Patch between binary files or directories(folder); cross-platform; run fast; create small delta/differential; support large files and limit memory requires when diff & patch.
dependency:
  install:
    adler+zlib-dev:
      - version: ''
        architecture: []
    seward+bzip2:
      - version: ''
        architecture: []
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
    apple+macos-sdk-1013:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
data:
  get:
    uri: 'https://github.com/sisong/HDiffPatch/archive/refs/tags/v<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: mkdir('<PEON.PREFIXDIR>/bin')
  rules:
    type: make
    location: data/HDiffPatch-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        LZMA=0
        PATCH_LINK+=$(LDFLAGS)
        <PEON.OS=darwin?:
          PATCH_LINK+=-Wl,-Bstatic
        >
        PATCH_LINK+=-lz
        PATCH_LINK+=-lbz2
        <PEON.OS=win?
          PATCH_LINK+=-Wl,--start-group
          PATCH_LINK+=-lwinpthread
          PATCH_LINK+=-Wl,--end-group
        :>
        <PEON.OS=darwin?:
          PATCH_LINK+=-Wl,-Bdynamic
        >
      maketest: ''
      makeinstall: install LZMA=0 INSTALL_BIN=<PEON.PREFIXDIR>/bin
    test: none
    env:
      CFLAGS: <PEON.ENV.CFLAGS> -Os
      darwin/SDKROOT: <PEON.ENV.MACOSSDK_1013>
      darwin/MACOSX_DEPLOYMENT_TARGET: '10.10'
  deploy: '!strip <PEON.OS=darwin?: -s > <PEON.PREFIXDIR>/bin/*'
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
