data:
  configure: mkdir('<PEON.INSTALLDIR>/opt/cresus/monolith')
  rules:
    args:
      makeinstall: install LZMA=0 ZSTD=0 BSD=0 MD5=0 INSTALL_BIN=<PEON.INSTALLDIR>/opt/cresus/monolith
    env:
      CFLAGS: <PEON.ENV.CFLAGS> -Os
  deploy: |-
    !{bash}
    export _BIN_EXT=<PEON.OS=win?.exe:>
      && strip <PEON.OS=darwin?: -s > <PEON.INSTALLDIR>/opt/cresus/monolith/*
      && mv "{PEON.INSTALLDIR}/opt/cresus/monolith/hpatchz${_BIN_EXT}"
            "{PEON.INSTALLDIR}/opt/cresus/monolith/hpatchz-{PEON.OS}-{PEON.OS.ARCH2}${_BIN_EXT}"
    <PEON.OS=darwin?:
      && xorencrypt "{PEON.INSTALLDIR}/opt/cresus/monolith/hpatchz-{PEON.OS}-{PEON.OS.ARCH2}${_BIN_EXT}"
                    "{PEON.INSTALLDIR}/opt/cresus/monolith/hpatchz-{PEON.OS}-{PEON.OS.ARCH2}${_BIN_EXT}.enc"
    :>
      && writefile '{"Version": "{THIS.VERSION}"}'
                   '{PEON.INSTALLDIR}/opt/cresus/monolith/hpatchz-{PEON.OS}-{PEON.OS.ARCH2}.release'
