name: microsoft+dotnet-sdk-60-linux
version: 6.0.101
$version: 6.0.101
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - linux-amd64
description:
  brief: .NET SDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+utils:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://download.visualstudio.microsoft.com/download/pr/ede8a287-3d61-4988-a356-32ff9129079e/bdb47b6b510ed0c4f0b132f7f4ad9d5a/dotnet-sdk-<THIS.$VERSION>-linux-x64.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: |-
    yield exec(
      'writefile',
      '#!/bin/sh\ndotnet msbuild "$@"\n',
      'data/sdk/<THIS.$VERSION>/msbuild'
    );
    yield exec('chmod', 'a+x', 'data/sdk/<THIS.$VERSION>/msbuild');
  rules:
    type: configure
    location: data
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
