subpackage:
  - runtime*
name: gnu+m4
version: 1.4.19-1
$version: 1.4.19
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: M4
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftp.gnu.org/gnu/m4/m4-<THIS.$VERSION>.tar.bz2'
    ref: ''
    out: ''
    externals: true
    $hash: b306a91c0fd93bc4280cfc2e98cb7ab3981ff75a187bea3293811f452c89a8c8.tar.bz2
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION> && ./configure --prefix=<PEON.PREFIXDIR>'
  rules:
    type: make
    location: data/m4-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: rm ('<PEON.PREFIXDIR>/share/info/dir');
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
