[submodule "lib/xcraft-core-env"]
	path = lib/xcraft-core-env
	url = https://github.com/Xcraft-Inc/xcraft-core-env.git
[submodule "lib/xcraft-core-eventstore"]
	path = lib/xcraft-core-eventstore
	url = https://github.com/Xcraft-Inc/xcraft-core-eventstore.git
[submodule "lib/xcraft-core-etc"]
	path = lib/xcraft-core-etc
	url = https://github.com/Xcraft-Inc/xcraft-core-etc.git
[submodule "lib/xcraft-core-extract"]
	path = lib/xcraft-core-extract
	url = https://github.com/Xcraft-Inc/xcraft-core-extract.git
[submodule "lib/xcraft-core-fs"]
	path = lib/xcraft-core-fs
	url = https://github.com/Xcraft-Inc/xcraft-core-fs.git
[submodule "lib/xcraft-core-ftp"]
	path = lib/xcraft-core-ftp
	url = https://github.com/Xcraft-Inc/xcraft-core-ftp.git
[submodule "lib/xcraft-core-devel"]
	path = lib/xcraft-core-devel
	url = https://github.com/Xcraft-Inc/xcraft-core-devel.git
[submodule "lib/xcraft-core-http"]
	path = lib/xcraft-core-http
	url = https://github.com/Xcraft-Inc/xcraft-core-http.git
[submodule "lib/xcraft-core-log"]
	path = lib/xcraft-core-log
	url = https://github.com/Xcraft-Inc/xcraft-core-log.git
[submodule "lib/xcraft-core-daemon"]
	path = lib/xcraft-core-daemon
	url = https://github.com/Xcraft-Inc/xcraft-core-daemon.git
[submodule "lib/xcraft-core-placeholder"]
	path = lib/xcraft-core-placeholder
	url = https://github.com/Xcraft-Inc/xcraft-core-placeholder.git
[submodule "lib/xcraft-core-buslog"]
	path = lib/xcraft-core-buslog
	url = https://github.com/Xcraft-Inc/xcraft-core-buslog.git
[submodule "lib/xcraft-core-platform"]
	path = lib/xcraft-core-platform
	url = https://github.com/Xcraft-Inc/xcraft-core-platform.git
[submodule "lib/xcraft-core-busclient"]
	path = lib/xcraft-core-busclient
	url = https://github.com/Xcraft-Inc/xcraft-core-busclient.git
[submodule "lib/xcraft-core-scm"]
	path = lib/xcraft-core-scm
	url = https://github.com/Xcraft-Inc/xcraft-core-scm.git
[submodule "lib/xcraft-core-bus"]
	path = lib/xcraft-core-bus
	url = https://github.com/Xcraft-Inc/xcraft-core-bus.git
[submodule "lib/xcraft-core-bin"]
	path = lib/xcraft-core-bin
	url = https://github.com/Xcraft-Inc/xcraft-core-bin.git
[submodule "lib/xcraft-core-server"]
	path = lib/xcraft-core-server
	url = https://github.com/Xcraft-Inc/xcraft-core-server.git
[submodule "lib/xcraft-core-subst"]
	path = lib/xcraft-core-subst
	url = https://github.com/Xcraft-Inc/xcraft-core-subst.git
[submodule "lib/xcraft-core-activity"]
	path = lib/xcraft-core-activity
	url = https://github.com/Xcraft-Inc/xcraft-core-activity.git
[submodule "lib/xcraft-core-utils"]
	path = lib/xcraft-core-utils
	url = https://github.com/Xcraft-Inc/xcraft-core-utils.git
[submodule "lib/xcraft-core-wizard"]
	path = lib/xcraft-core-wizard
	url = https://github.com/Xcraft-Inc/xcraft-core-wizard.git
[submodule "lib/xcraft-core-uri"]
	path = lib/xcraft-core-uri
	url = https://github.com/Xcraft-Inc/xcraft-core-uri.git
[submodule "lib/xcraft-core-process"]
	path = lib/xcraft-core-process
	url = https://github.com/Xcraft-Inc/xcraft-core-process.git
[submodule "lib/xcraft-materials"]
	path = lib/xcraft-materials
	url = https://github.com/Xcraft-Inc/xcraft-materials.git
[submodule "lib/xcraft-zog"]
	path = lib/xcraft-zog
	url = https://github.com/Xcraft-Inc/xcraft-zog.git
[submodule "lib/xcraft-core-transport"]
	path = lib/xcraft-core-transport
	url = https://github.com/Xcraft-Inc/xcraft-core-transport.git
[submodule "lib/xcraft-contrib-bootcmake"]
	path = lib/xcraft-contrib-bootcmake
	url = https://github.com/Xcraft-Inc/xcraft-contrib-bootcmake.git
[submodule "lib/xcraft-contrib-bootwpkg"]
	path = lib/xcraft-contrib-bootwpkg
	url = https://github.com/Xcraft-Inc/xcraft-contrib-bootwpkg.git
[submodule "lib/xcraft-contrib-wpkg"]
	path = lib/xcraft-contrib-wpkg
	url = https://github.com/Xcraft-Inc/xcraft-contrib-wpkg.git
[submodule "lib/xcraft-contrib-pacman"]
	path = lib/xcraft-contrib-pacman
	url = https://github.com/Xcraft-Inc/xcraft-contrib-pacman.git
[submodule "lib/xcraft-contrib-peon"]
	path = lib/xcraft-contrib-peon
	url = https://github.com/Xcraft-Inc/xcraft-contrib-peon.git
