[submodule "lib/xcraft-core-env"]
	path = lib/xcraft-core-env
	url = ../xcraft-core-env.git
[submodule "lib/xcraft-core-etc"]
	path = lib/xcraft-core-etc
	url = ../xcraft-core-etc.git
[submodule "lib/xcraft-core-extract"]
	path = lib/xcraft-core-extract
	url = ../xcraft-core-extract.git
[submodule "lib/xcraft-core-fs"]
	path = lib/xcraft-core-fs
	url = ../xcraft-core-fs.git
[submodule "lib/xcraft-core-ftp"]
	path = lib/xcraft-core-ftp
	url = ../xcraft-core-ftp.git
[submodule "lib/xcraft-core-devel"]
	path = lib/xcraft-core-devel
	url = ../xcraft-core-devel.git
[submodule "lib/xcraft-core-http"]
	path = lib/xcraft-core-http
	url = ../xcraft-core-http.git
[submodule "lib/xcraft-core-log"]
	path = lib/xcraft-core-log
	url = ../xcraft-core-log.git
[submodule "lib/xcraft-core-daemon"]
	path = lib/xcraft-core-daemon
	url = ../xcraft-core-daemon.git
[submodule "lib/xcraft-core-placeholder"]
	path = lib/xcraft-core-placeholder
	url = ../xcraft-core-placeholder.git
[submodule "lib/xcraft-core-buslog"]
	path = lib/xcraft-core-buslog
	url = ../xcraft-core-buslog.git
[submodule "lib/xcraft-core-platform"]
	path = lib/xcraft-core-platform
	url = ../xcraft-core-platform.git
[submodule "lib/xcraft-core-busclient"]
	path = lib/xcraft-core-busclient
	url = ../xcraft-core-busclient.git
[submodule "lib/xcraft-core-scm"]
	path = lib/xcraft-core-scm
	url = ../xcraft-core-scm.git
[submodule "lib/xcraft-core-bus"]
	path = lib/xcraft-core-bus
	url = ../xcraft-core-bus.git
[submodule "lib/xcraft-core-bin"]
	path = lib/xcraft-core-bin
	url = ../xcraft-core-bin.git
[submodule "lib/xcraft-core-server"]
	path = lib/xcraft-core-server
	url = ../xcraft-core-server.git
[submodule "lib/xcraft-core-subst"]
	path = lib/xcraft-core-subst
	url = ../xcraft-core-subst.git
[submodule "lib/xcraft-core-activity"]
	path = lib/xcraft-core-activity
	url = ../xcraft-core-activity.git
[submodule "lib/xcraft-core-utils"]
	path = lib/xcraft-core-utils
	url = ../xcraft-core-utils.git
[submodule "lib/xcraft-core-wizard"]
	path = lib/xcraft-core-wizard
	url = ../xcraft-core-wizard.git
[submodule "lib/xcraft-core-uri"]
	path = lib/xcraft-core-uri
	url = ../xcraft-core-uri.git
[submodule "lib/xcraft-core-process"]
	path = lib/xcraft-core-process
	url = ../xcraft-core-process.git
[submodule "lib/xcraft-materials"]
	path = lib/xcraft-materials
	url = ../xcraft-materials.git
[submodule "lib/xcraft-zog"]
	path = lib/xcraft-zog
	url = ../xcraft-zog.git
[submodule "lib/xcraft-core-transport"]
	path = lib/xcraft-core-transport
	url = ../xcraft-core-transport.git
[submodule "lib/xcraft-contrib-bootcmake"]
	path = lib/xcraft-contrib-bootcmake
	url = ../xcraft-contrib-bootcmake.git
[submodule "lib/xcraft-contrib-bootwpkg"]
	path = lib/xcraft-contrib-bootwpkg
	url = ../xcraft-contrib-bootwpkg.git
[submodule "lib/xcraft-contrib-wpkg"]
	path = lib/xcraft-contrib-wpkg
	url = ../xcraft-contrib-wpkg.git
[submodule "lib/xcraft-contrib-pacman"]
	path = lib/xcraft-contrib-pacman
	url = ../xcraft-contrib-pacman.git
[submodule "lib/xcraft-contrib-peon"]
	path = lib/xcraft-contrib-peon
	url = ../xcraft-contrib-peon.git
[submodule "lib/xcraft-axon"]
	path = lib/xcraft-axon
	url = ../axon.git
[submodule "lib/xcraft-core-horde"]
	path = lib/xcraft-core-horde
	url = ../xcraft-core-horde
[submodule "lib/xcraft-core-shredder"]
	path = lib/xcraft-core-shredder
	url = ../xcraft-core-shredder
[submodule "lib/xcraft-server"]
	path = lib/xcraft-server
	url = ../xcraft-server
[submodule "lib/xcraft-core-host"]
	path = lib/xcraft-core-host
	url = ../xcraft-core-host
[submodule "lib/shellcraft.js"]
	path = lib/shellcraft
	url = ../shellcraft.js.git
[submodule "lib/xcraft-core-probe"]
	path = lib/xcraft-core-probe
	url = ../xcraft-core-probe.git
[submodule "lib/goblin-builder"]
	path = lib/goblin-builder
	url = ../goblin-builder.git
[submodule "lib/goblin-webpack"]
	path = lib/goblin-webpack
	url = ../goblin-webpack.git
[submodule "lib/xcraft-core-goblin"]
	path = lib/xcraft-core-goblin
	url = ../xcraft-core-goblin.git
[submodule "lib/goblin-warehouse"]
	path = lib/goblin-warehouse
	url = ../goblin-warehouse.git
[submodule "lib/xcraft-core-journal"]
	path = lib/xcraft-core-journal
	url = ../xcraft-core-journal.git
[submodule "lib/goblin-overwatch"]
	path = lib/goblin-overwatch
	url = ../goblin-overwatch.git
[submodule "lib/goblin-blacksmith"]
	path = lib/goblin-blacksmith
	url = ../goblin-blacksmith.git
[submodule "lib/xcraft-dev-fontawesome"]
	path = lib/xcraft-dev-fontawesome
	url = ../xcraft-dev-fontawesome.git
[submodule "lib/xcraft-core-book"]
	path = lib/xcraft-core-book
	url = ../xcraft-core-book.git
[submodule "lib/goblin-repositor"]
	path = lib/goblin-repositor
	url = ../goblin-repositor.git
[submodule "lib/xcraft-contrib-bootstrap"]
	path = lib/xcraft-contrib-bootstrap
	url = ../xcraft-contrib-bootstrap.git
[submodule "lib/goblin-zou"]
	path = lib/goblin-zou
	url = ../goblin-zou.git
[submodule "packages"]
	path = packages
	url = ../packages.git
[submodule "lib/xcraft-contrib-portal"]
	path = lib/xcraft-contrib-portal
	url = ../xcraft-contrib-portal.git
[submodule "lib/xcraft-contrib-chest"]
	path = lib/xcraft-contrib-chest
	url = ../xcraft-contrib-chest.git
