subpackage:
  - runtime*
name: linux+libcap
version: 2.60-1
$version: '2.60'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Libcap.
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://www.kernel.org/pub/linux/libs/security/linux-privs/libcap2/libcap-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: b112f716dc0407e06b8d775b3805eb22c5977950631b6477d212b8e3c1a75b05.tar.gz
  type: src
  configure: ''
  rules:
    type: make
    location: data/libcap-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install RAISE_SETFCAP=no FAKEROOT=<PEON.INSTALLDIR>
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
