subpackage:
  - runtime*
name: gnu+libtasn1
version: 4.14-1
$version: '4.14'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'The ASN.1 library used by GnuTLS, p11-kit and some other packages'
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/libtasn1/libtasn1-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 9e604ba5c5c8ea403487695c2e407405820d98540d9de884d6e844f9a9c5ba08.tar.gz
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --enable-static
                     --enable-shared
                     --disable-doc
  rules:
    type: make
    location: data/libtasn1-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
