<div class="uk-panel uk-panel-box">
  <div class="uk-panel-badge uk-badge uk-badge-danger">
    v{{header.version}}
  </div>
  <h3 class="uk-panel-title uk-text-bold">
    <i class="uk-icon-button uk-icon-puzzle-piece"></i>
    {{header.package}}
  </h3>
  <small class="uk-text-muted uk-text-right">
    <i class="uk-icon-beer"></i> {{header.maintainerName}}
  </small>
  <small class="uk-text-muted uk-text-right">
    <i class="uk-icon-envelope-o"></i> {{header.maintainerEmail}}
  </small>
  <p class="uk-text-large">{{header.descriptionBrief}}</p>
  <p class="uk-text-small">{{header.descriptionLong}}</p>
  Runs on:
  <br>
  <small ng-repeat="arch in header.architecture">
    <span class="uk-badge">{{arch}}</span>
  </small>
  <!-- not ready
  Depends on:
  <br>
  <small ng-repeat="(key,dep) in package.packageDef">
    <span class="uk-badge uk-badge-danger">{{key}} ({{dep.version}})</span>
  </small> -->
</div>
<br>
<button
ng-disabled=""
class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
ng-click="savePackage()">
<i class="uk-icon-gears"></i> create package
</button>
