
<div class="uk-panel uk-panel-box">
  <div class="uk-panel-badge uk-badge">{{badge}}</div>
  <h3 class="uk-panel-title"><i class="uk-icon-{{icon}}"></i> {{title}}</h3>
	<div class="uk-grid">
	    <div class="uk-width-medium-1-4">
	        <ul class="uk-nav uk-nav-side">
	          <li ui-sref-active="uk-active">
              <a ui-sref="packages.manager">Package manager</a>
            </li>
	        	<li ui-sref-active="uk-active">
              <a ui-sref="packages.editor">Package editor</a>
            </li>
	        </ul>
	    </div>
	    <div class="uk-width-medium-3-4">
	    	<div ui-view></div>
	    </div>
	</div>
</div>
