subpackage:
  - runtime*
name: x-aarch64-linux+gnu-gcc-stage2
version: 10.2.0-14
$version: 10.2.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'GCC, the GNU Compiler Collection.'
  long: |-
    The GNU Compiler Collection includes front ends for C, C++, Objective-C,
    Fortran, Java, Ada, and Go, as well as libraries for these languages
    (libstdc++, libgcj,...).
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-stage1:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-glibc-stage1:
      - version: ''
        architecture: []
data:
  get:
    uri: 'self:///root'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: ''
  rules:
    type: script
    location: ''
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !export PATH="<PEON.ROOTDIR>/var/tmp/x-aarch64-linux/bin:$PATH"
                CFLAGS= CXXFLAGS= LDFLAGS= CPPFLAGS=
          && cd "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc/objdir"
          && make -j<PEON.CPUS.COUNT> all-target-libstdc++-v3
      maketest: ''
      makeinstall: |-
        !export PATH="<PEON.ROOTDIR>/var/tmp/x-aarch64-linux/bin:$PATH"
                CFLAGS= CXXFLAGS= LDFLAGS= CPPFLAGS=
          && cd "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc/objdir"
          && make install-target-libstdc++-v3
          && touch ../xcraft-stage2
    test: none
  deploy: 'mv(''<PEON.ROOTDIR>/var/tmp/x-aarch64-linux'', ''<PEON.PREFIXDIR>'');'
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
