name: llvm+libcxx
version: 8.0.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: LLVM libc++
  long: ''
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://github.com/llvm/llvm-project/releases/download/llvmorg-<THIS.VERSION>/libcxx-<THIS.VERSION>.src.tar.xz
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: ''
  rules:
    type: configure
    location: data/
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
