subpackage:
  - runtime*
name: nongnu+freetype
version: 2.10.1
$version: 2.10.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: curl
  long: ''
dependency:
  install:
    adler+zlib:
      - version: ''
        architecture: []
    seward+bzip2:
      - version: ''
        architecture: []
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://download.savannah.gnu.org/releases/freetype/freetype-<THIS.$VERSION>.tar.xz
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && ./configure --enable-static
    --enable-shared --prefix=<PEON.PREFIXDIR>
  rules:
    type: make
    location: data/freetype-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
