name: microsoft+dotnet-sdk-70-darwin
version: 7.0.304
$version: 7.0.304
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - darwin-amd64
description:
  brief: .NET SDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+utils:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://download.visualstudio.microsoft.com/download/pr/18e7fd79-48de-4ad9-a7a5-a659a485e3d7/fc0d190f90917587626fc8086ad6d2f2/dotnet-sdk-<THIS.$VERSION>-osx-x64.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
    $hash: 3397f2cf0e5fd43898210fa76f526cfa28c1e3e41e458ff39d4b3df7ed2c3882.tar.gz
  type: bin
  configure: |-
    yield exec(
      'writefile',
      '#!/bin/sh\ndotnet msbuild "$@"\n',
      'data/sdk/<THIS.$VERSION>/msbuild'
    );
    yield exec('chmod', 'a+x', 'data/sdk/<THIS.$VERSION>/msbuild');
  rules:
    type: configure
    location: data
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
