subpackage:
  - runtime*
name: gnu+gcc
version: 8.3.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'GCC, the GNU Compiler Collection.'
  long: >-
    The GNU Compiler Collection includes front ends for C, C++, Objective-C,
    Fortran, Java, Ada, and Go, as well as libraries for these languages
    (libstdc++, libgcj,...).
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    estes+flex:
      - version: ''
        architecture: []
    gnu+m4:
      - version: ''
        architecture: []
    gnu+bison:
      - version: ''
        architecture: []
    gnu+wget:
      - version: ''
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
    samba+ccache-clang:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
    wall+perl:
      - version: ''
        architecture: []
    gnu+coreutils:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      ftp://ftp.fu-berlin.de/unix/languages/gcc/releases/gcc-<THIS.VERSION>/gcc-<THIS.VERSION>.tar.xz
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd data/gcc-<THIS.VERSION>/ && sed -i'.bak' -e "s,MPFR=.*,MPFR=mpfr-3.1.4,"
    -e "s,GMP=.*,GMP=gmp-6.1.0," -e "s,MPC=.*,MPC=mpc-1.0.3," -e
    "s,ISL=.*,ISL=isl-0.18," ./contrib/download_prerequisites &&
    ./contrib/download_prerequisites && (mkdir objdir || :) && cd objdir &&
    ../configure --prefix=<PEON.PREFIXDIR> --enable-languages=c,c++,objc,obj-c++
  rules:
    type: make
    location: data/gcc-<THIS.VERSION>/objdir
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: rm ('<PEON.PREFIXDIR>/share/info/dir');
  env:
    path: []
    other:
      CFLAGS: '-I<OS.ROOTDIR>/usr/include -Wl,-rpath,<OS.ROOTDIR>/usr/lib'
      CXXFLAGS: '-I<OS.ROOTDIR>/usr/include -Wl,-rpath,<OS.ROOTDIR>/usr/lib'
      LDFLAGS: '-L<OS.ROOTDIR>/usr/lib'
      CCACHE_PATH: <OS.ENV.PATH>
  embedded: true
  runtime:
    configure: ''
