subpackage:
  - runtime*
name: perl+xml-simple
version: '2.25-2'
$version: '2.25'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: An API for simple XML files
  long: ''
dependency:
  install:
    wall+perl:
      - version: ''
        architecture: []
        subpackage:
          - runtime
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://cpan.metacpan.org/authors/id/G/GR/GRANTM/XML-Simple-<THIS.$VERSION>.tar.gz
    ref: ''
    out: ''
    externals: true
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION>/ && perl Makefile.PL PREFIX=<PEON.PREFIXDIR>'
  rules:
    type: make
    location: data/XML-Simple-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: >-
    rm('<PEON.PREFIXDIR>/lib/perl5/<PEON.ENV.XCRAFT_PERL_VERSION>/x86_64-linux/perllocal.pod')
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
