name: microsoft+ndp
version: 4.5.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: .NET Framework Developer Pack
  long: ''
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://download.microsoft.com/download/9/6/0/96075294-6820-4F01-924A-474E0023E407/NDP451-KB2861696-x86-x64-DevPack.exe'
    ref: ''
    out: ''
  type: bin
  configure: ''
  rules:
    type: exec
    location: NDP451-KB2861696-x86-x64-DevPack.exe
    args:
      postinst: /norestart /q
      prerm: /norestart /q /uninstall
  env:
    path: []
  embedded: true
