subpackage:
  - runtime*
name: kitware+cmake
version: 3.13.3
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'Build, Test and Package Your Software With CMake.'
  long: >-
    CMake is an open-source, cross-platform family of tools designed to build,
    test and package software.
dependency:
  install:
    openssl+openssl:
      - version: ''
        architecture: []
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    toolchain+build-essential:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://cmake.org/files/v3.13/cmake-<THIS.VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && ./bootstrap --prefix=<PEON.PREFIXDIR>
    --parallel=<PEON.CPUS.COUNT> -- -DCMAKE_BUILD_TYPE=Release
    -DCMAKE_CXX_FLAGS_RELEASE='-O2 -g0'
  rules:
    type: make
    location: data/cmake-<THIS.VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
