name: microsoft+buildtools
version: 17.1.5+32414.318
$version: 17.1.5+32414.318
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Microsoft Build Tools 2022
  long: 'Build Windows desktop applications using the Microsoft C++ toolset, ATL, or MFC.'
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://owncloud.epsitec.ch/owncloud/index.php/s/P9S3LfP4sARjPto/download/microsoft+buildtools-2022-<THIS.$VERSION>.zip'
    mirrors: []
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: ''
  rules:
    type: configure
    location: data/microsoft+buildtools-2022-<THIS.$VERSION>
    args:
      postinst: |-
        !vs_BuildTools.exe
          --quiet
          --norestart
          --wait
          --noWeb
          --nocache
          --noUpdateInstaller
          --locale En-us
          --installPath <PEON.ROOTDRIVE>/xcraft/microsoft/buildtools
          --add Microsoft.VisualStudio.Component.Roslyn.Compiler
          --add Microsoft.Component.MSBuild
          --add Microsoft.VisualStudio.Component.CoreBuildTools
          --add Microsoft.VisualStudio.Workload.MSBuildTools
          --add Microsoft.VisualStudio.Component.Windows10SDK
          --add Microsoft.VisualStudio.Component.VC.CoreBuildTools
          --add Microsoft.VisualStudio.Component.VC.Redist.14.Latest
          --add Microsoft.VisualStudio.Component.TestTools.BuildTools
          --add Microsoft.VisualStudio.Component.TextTemplating
          --add Microsoft.VisualStudio.Component.VC.CoreIde
          --add Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Core
          --add Microsoft.VisualStudio.Component.Windows10SDK.18362
          --add Microsoft.Component.VC.Runtime.UCRTSDK
          --add Microsoft.VisualStudio.Component.VC.140
          --add Microsoft.VisualStudio.Workload.VCTools
          --add Microsoft.VisualStudio.Component.NuGet.BuildTools
          --add Microsoft.VisualStudio.Component.VC.14.29.16.11.x86.x64
          --add Microsoft.VisualStudio.Component.VC.14.29.16.11.ATL
          --add Microsoft.VisualStudio.Component.VC.14.29.16.11.MFC
      prerm: |-
        !"C:\Program Files (x86)\Microsoft Visual Studio\Installer\setup.exe"
          /uninstall
          --quiet
          --locale En-us
    env: {}
  env:
    path:
      - '<OS.ROOTDRIVE>/xcraft/microsoft/buildtools/MSBuild/Current/Bin<OS.ARCH=x64?/amd64:>'
    other:
      CL_TOOL_EXE: '<OS.ROOTDRIVE>/xcraft/microsoft/buildtools/VC/Tools/MSVC/14.31.31103/bin/Host<OS.ARCH=x32?x86:x64>/<OS.ARCH=x32?x86:x64>/cl.exe'
  embedded: true
