name: gnuwin32+patch
version: 2.5.9-7
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Apply a diff file to an original.
  long: '`patch` takes a patch file containing a difference listing produced by diff and applies those differences to one or more original files, producing patched versions.'
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'chest:patch-<THIS.VERSION>-bin.tar.gz'
    ref: ''
    out: ''
  type: bin
  configure: "mv ('data', 'root/usr');"
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  path: []
  embedded: true
