name: gnuwin32+patch
version: 2.5.9
$version: 2.5.9
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Apply a diff file to an original.
  long: |-
    `patch` takes a patch file containing a difference listing produced by diff
    and applies those differences to one or more original files, producing
    patched versions.
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://owncloud.epsitec.ch/owncloud/index.php/s/G3BoX2dLazGLCZ5/download'
    ref: ''
    out: 'patch-bin.tar.gz'
    externals: true
  type: bin
  configure: "mv ('data', 'root/usr');"
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
