subpackage:
  - runtime*
name: rustlang+rust
version: 1.75.0
$version: 1.75.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Language empowering everyone to build reliable and efficient software
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
    vanrossum+python3:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
          - linux-aarch64
          - darwin-i386
          - darwin-amd64
          - darwin-aarch64
bump: []
data:
  get:
    uri: 'https://static.rust-lang.org/dist/rustc-<THIS.$VERSION>-src.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: |-
      mv('data/rustc-<THIS.$VERSION>-src', '<THIS.DATA.RULES.LOCATION>');
      rm('data');
    $hash: 5b739f45bc9d341e2d1c570d65d2375591e22c2d23ef5b8a37711a0386abc088.tar.gz
  type: src
  configure: |-
    !{bash}
      cd <THIS.DATA.RULES.LOCATION>
        && ./configure --prefix=<PEON.PREFIXDIR>
                       --sysconfdir=etc
                       --enable-full-bootstrap
                       --enable-llvm-static-stdcpp
                       --enable-ccache
                       --disable-ninja
                       --release-channel=stable
                       --disable-codegen-tests
  rules:
    type: script
    location: src
    args:
      postinst: ''
      prerm: ''
      makeall: '!python3 x.py build'
      maketest: ''
      makeinstall: '!python3 x.py install && python3 x.py install cargo'
    test: none
    env:
      linux/CC: gcc
      linux/CXX: g++
      linux/AR: <PEON.ROOTDIR>/usr/bin/ar
      win/CC: x86_64-w64-mingw32-gcc
      win/CXX: x86_64-w64-mingw32-g++
      win/MSYS2_ARG_CONV_EXCL: '--prefix;--sysconfdir;--localstatedir'
      win/AR: ar
  deploy: ''
  env:
    path: []
    other:
      RUSTFLAGS: '-C link-args=-Wl,-rpath,<OS.PROD.ROOTDIR>/usr/lib'
  embedded: true
  runtime:
    configure: ''
