name: openjdk+jdk14-linux
version: 14.0.1
$version: 14.0.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - linux-amd64
description:
  brief: OpenJDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://download.java.net/java/GA/jdk<THIS.$VERSION>/664493ef4a6946b186ff29eb326336a2/7/GPL/openjdk-<THIS.$VERSION>_linux-x64_bin.tar.gz
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: 'mv (''data/jdk-<THIS.$VERSION>'', ''root/opt/openjdk'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path:
      - <OS.ROOTDIR>/opt/openjdk/bin
    other: {}
  embedded: true
