subpackage:
  - runtime*
name: jacke+convmv
version: '2.05'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Converts filenames from one encoding to another
  long: ''
dependency:
  install:
    wall+perl:
      - version: ''
        architecture: []
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    toolchain+build-essential:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://www.j3e.de/linux/convmv/convmv-<THIS.VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: ''
  rules:
    type: make
    location: data/convmv-<THIS.VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: ''
      maketest: ''
      makeinstall: install PREFIX=<PEON.PREFIXDIR>
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
