name: microsoft+dotnet-sdk-linux
version: 3.0.101
$version: 3.0.101
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - linux-amd64
description:
  brief: .NET Core SDK
  long: ''
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://download.visualstudio.microsoft.com/download/pr/4f51cfd8-311d-43fe-a887-c80b40358cfd/440d10dc2091b8d0f1a12b7124034e49/dotnet-sdk-<THIS.VERSION>-linux-x64.tar.gz
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: 'mv (''data'', ''root/opt/dotnet-sdk'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path:
      - opt/dotnet-sdk
    other: {}
  embedded: true
