subpackage:
  - runtime*
name: inria+isl
version: '0.25'
$version: '0.25'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Integer Set Library.
  long: isl is a library for manipulating sets and relations of integer points bounded by linear constraints.
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
    gnu+gmp:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://download.sourceforge.net/libisl/isl-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>
                --disable-shared
                --enable-static
  rules:
    type: make
    location: data/isl-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
