name: msys2+mingw
version: 10.2.0
$version: 10.2.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: MINGW env
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
    samba+ccache-msys2-mingw:
      - version: ''
        architecture: []
data:
  get:
    uri: ''
    ref: ''
    out: ''
    externals: false
  type: bin
  configure: ''
  rules:
    type: meta
    location: ''
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other:
      CFLAGS: '-O2 -g0 -fPIC -fdiagnostics-color'
      CXXFLAGS: '-O2 -g0 -fPIC -fdiagnostics-color -static-libstdc++'
      LDFLAGS: '-static-libgcc -static-libstdc++ -lws2_32'
      MSYSTEM: MINGW64
  embedded: true
