subpackage:
  - runtime*
name: gnu+cpio
version: '2.13'
$version: '2.13'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: GNU cpio copies files into or out of a cpio or tar archive.
  long: ''
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    toolchain+build-essential:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/cpio/cpio-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && ./configure --disable-nls
    --prefix=<PEON.PREFIXDIR>
  rules:
    type: make
    location: data/cpio-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
