name: xcraft+debify
version: 0.0.1
$version: 0.0.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - linux-i386
  - linux-amd64
description:
  brief: Tools for goblin debifier.
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
    stedolan+jq:
      - version: ''
        architecture: []
    debian+fakeroot:
      - version: ''
        architecture: []
    vanrossum+python2:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: ''
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: false
  type: bin
  configure: ''
  rules:
    type: meta
    location: ''
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
