subpackage:
  - runtime*
name: xorg+libx11
version: 1.6.9
$version: 1.6.9
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Xlib
  long: ''
dependency:
  install:
    xorg+xtrans:
      - version: ''
        architecture: []
    xorg+xproto:
      - version: ''
        architecture: []
    freedesktop+libxcb:
      - version: ''
        architecture: []
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://www.x.org/releases/individual/lib/libX11-<THIS.$VERSION>.tar.bz2'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>
                --without-xmlto
                --without-xsltproc
                --without-perl
  rules:
    type: make
    location: data/libX11-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
