subpackage:
  - 'runtime*'
name: toolchain+stub
version: 0.0.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Stub
  long: ''
dependency: {}
data:
  get:
    uri: ''
    ref: ''
    out: ''
  type: bin
  configure: "sed ('<PEON.WPKG.STAG>/wpkg/control.info', /(Package\\/runtime: .*)/, '$1-stub'); sed ('<PEON.WPKG.STAG>/wpkg/ChangeLog', /([^ ]+)(.*; urgency=.*)/, '$1-stub$2'); sed ('<PEON.WPKG.STAG>/CMakeLists.txt', /(.*CPACK_SOURCE_PACKAGE_FILE_NAME ")([^ ]+)(".*)/, '$1$2$3');"
  rules:
    type: configure
    location: ''
    args:
      postinst: ''
      prerm: ''
      makeall: ''
      makeinstall: ''
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
