name: llvm+polly
version: 9.0.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: LLVM Polly
  long: ''
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://releases.llvm.org/<THIS.VERSION>/polly-<THIS.VERSION>.src.tar.xz
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: ''
  rules:
    type: configure
    location: data/
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
