subpackage:
  - runtime*
name: gnu+texinfo
version: 7.0.3
$version: 7.0.3
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Official documentation format of the GNU project.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+gcc:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/texinfo/texinfo-<THIS.$VERSION>.tar.xz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 74b420d09d7f528e84f97aa330f0dd69a98a6053e7a4e01767eed115038807bf.tar.xz
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --disable-nls
  rules:
    type: make
    location: data/texinfo-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
