subpackage:
  - runtime*
name: nixos+patchelf
version: '0.10'
$version: '0.10'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: PatchELF is a small utility to modify the dynamic linker and RPATH.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://nixos.org/releases/patchelf/patchelf-<THIS.$VERSION>/patchelf-<THIS.$VERSION>.tar.bz2
    ref: ''
    out: ''
    externals: true
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION> && ./configure --prefix=<PEON.PREFIXDIR>'
  rules:
    type: make
    location: data/patchelf-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
