subpackage:
  - runtime*
name: libpng+libpng
version: 1.6.37-2
$version: 1.6.37
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: libpng is the official PNG reference library.
  long: ''
dependency:
  install:
    adler+zlib-dev:
      - version: ''
        architecture: []
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://download.sourceforge.net/libpng/libpng16/<THIS.$VERSION>/libpng-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> &&
    ./configure --prefix=<PEON.PREFIXDIR>
                --enable-static
                --disable-shared
  rules:
    type: script
    location: data/libpng-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '!make -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '!make install'
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
