subpackage:
  - runtime*
name: x-aarch64-linux+gnu-gcc-stage0
version: 10.2.0-19
$version: 10.2.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'GCC, the GNU Compiler Collection.'
  long: |-
    The GNU Compiler Collection includes front ends for C, C++, Objective-C,
    Fortran, Java, Ada, and Go, as well as libraries for these languages
    (libstdc++, libgcj,...).
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    estes+flex:
      - version: ''
        architecture: []
    gnu+m4:
      - version: ''
        architecture: []
    gnu+bison:
      - version: ''
        architecture: []
    gnu+wget:
      - version: ''
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
    samba+ccache-clang:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
    wall+perl:
      - version: ''
        architecture: []
    gnu+coreutils:
      - version: ''
        architecture: []
    gnu+gmp:
      - version: '>= 4.3.2'
        architecture: []
    gnu+mpfr:
      - version: '>= 2.4.2'
        architecture: []
    gnu+mpc:
      - version: '>= 0.8.1'
        architecture: []
    inria+isl:
      - version: '>= 0.15'
        architecture: []
    x-aarch64-linux+gnu-binutils:
      - version: ''
        architecture: []
data:
  get:
    uri: 'ftp://ftp.fu-berlin.de/unix/languages/gcc/releases/gcc-<THIS.$VERSION>/gcc-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !rm -rf "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc"
      && cp -a data/gcc-<THIS.$VERSION> "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc"
      && cd "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc"
      && (mkdir -p objdir || :)
      && cd objdir
      && export CFLAGS= CXXFLAGS= LDFLAGS= CPPFLAGS=
      && ../configure --prefix="<PEON.ROOTDIR>/var/tmp/x-aarch64-linux"
                      --enable-languages=c,c++
                      --target=aarch64-linux
                      --disable-multilib
                      --disable-nls
                      --disable-shared
                      --disable-libssp
                      --with-gmp=<PEON.ROOTDIR>/usr
                      --with-mpfr=<PEON.ROOTDIR>/usr
                      --with-mpc=<PEON.ROOTDIR>/usr
                      --with-isl=<PEON.ROOTDIR>/usr
  rules:
    type: script
    location: data/gcc-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !export CFLAGS= CXXFLAGS= LDFLAGS= CPPFLAGS=
          && cd "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc/objdir"
          && make -j<PEON.CPUS.COUNT> all-gcc
      maketest: ''
      makeinstall: |-
        !export CFLAGS= CXXFLAGS= LDFLAGS= CPPFLAGS=
          && cd "<PEON.ROOTDIR>/var/tmp/x-aarch64-linux+gnu-gcc/objdir"
          && make install-gcc
          && touch ../xcraft-stage0
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
