name: microsoft+portablelibrary-vs
version: '2013.4'
$version: '2013.4'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Microsoft Portable Library Multi-Targeting Pack
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'chest:portablelibrary-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    $hash: 22c70f364f6f7e0e389cc1ddc4a54b58c6d48517460faed38238ef2bf1be020c.tar.gz
  type: bin
  configure: ''
  rules:
    type: exec
    location: data/PortableLibrary_DTP.msi
    args:
      postinst: /quiet /passive /norestart
      prerm: /quiet /passive /norestart /uninstall
  env:
    path: []
    other: {}
  embedded: true
