subpackage:
  - runtime*
name: sqlite+sqlite3
version: 3.37.2-5
$version: 3.37.2
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: SQLite
  long: ''
dependency:
  install:
    adler+zlib:
      - version: ''
        architecture: []
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://sqlite.org/2022/sqlite-autoconf-3370200.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 4089a8d9b467537b3f246f217b84cd76e00b1d1a971fe5aca1e30e230e46b2d8.tar.gz
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --enable-static
                     --enable-shared
                     --disable-readline
                     --disable-editline
  rules:
    type: make
    location: data/sqlite-autoconf-3370200
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env:
      win/MSYSTEM: MINGW64
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
