subpackage:
  - runtime*
name: uclouvain+openjpeg
version: 1.5.2-1
$version: 1.5.2
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: An open-source JPEG 2000 codec written in C.
  long: >-
    OpenJPEG is an open-source JPEG 2000 codec written in C language. It has
    been developed in order to promote the use of JPEG 2000, a still-image
    compression standard from the Joint Photographic Experts Group (JPEG).
dependency:
  install:
    adler+zlib:
      - version: ''
        architecture: []
    libpng+libpng:
      - version: ''
        architecture: []
  build:
    kitware+cmake:
      - version: ''
        architecture: []
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    toolchain+build-essential:
      - version: ''
        architecture: []
data:
  get:
    uri: >-
      https://github.com/uclouvain/openjpeg/archive/version.<THIS.$VERSION>.tar.gz
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION>/ && mkdir build && cd build && cmake -G "Unix
    Makefiles" -DCMAKE_PREFIX_PATH=<PEON.ROOTDIR>/usr
    -DCMAKE_INSTALL_PREFIX=<PEON.PREFIXDIR> -DCMAKE_BUILD_TYPE=Release ..
  rules:
    type: make
    location: data/openjpeg-version.<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-C build -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '-C build install'
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
