subpackage:
  - runtime*
name: gnu+libunistring
version: 0.9.10
$version: 0.9.10
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: This library provides functions for manipulating Unicode strings
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/libunistring/libunistring-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>
                --enable-static
                --enable-shared
  rules:
    type: make
    location: data/libunistring-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
