name: microsoft+buildtools-vcxx
version: '15.7.27703.2026-1'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Visual C++ build tools.
  long: >-
    Build Windows desktop applications using the Microsoft C++ toolset, ATL, or
    MFC.
dependency:
  install:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'chest:microsoft+buildtools-vcxx.zip'
    ref: ''
    out: ''
  type: bin
  configure: ''
  rules:
    type: exec
    location: data/microsoft+buildtools-vcxx/vs_BuildTools.exe
    args:
      postinst: >-
        --locale En-us --installPath
        <PEON.ROOTDRIVE>/xcraft/microsoft/buildtools --add
        Microsoft.VisualStudio.Workload.VCTools --add
        Microsoft.VisualStudio.Component.TestTools.BuildTools --add
        Microsoft.VisualStudio.Component.VC.140 --add
        Microsoft.VisualStudio.Component.VC.ATL --add
        Microsoft.VisualStudio.Component.VC.ATLMFC --quiet --norestart --wait
        --nocache --noUpdateInstaller
      prerm: >-
        --locale En-us --installPath
        <PEON.ROOTDRIVE>/xcraft/microsoft/buildtools --remove
        Microsoft.VisualStudio.Workload.VCTools --remove
        Microsoft.VisualStudio.Component.TestTools.BuildTools --remove
        Microsoft.VisualStudio.Component.VC.140 --remove
        Microsoft.VisualStudio.Component.VC.ATL --remove
        Microsoft.VisualStudio.Component.VC.ATLMFC --quiet --norestart --wait
        --noUpdateInstaller
  env:
    path:
      - <OS.ROOTDRIVE>/xcraft/microsoft/buildtools/MSBuild/15.0/Bin
    other: {}
  embedded: true
