name: microsoft+buildtools-vcxx
version: 16.9.2+31112.23
$version: 16.9.2+31112.23
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: Visual C++ build tools.
  long: 'Build Windows desktop applications using the Microsoft C++ toolset, ATL, or MFC.'
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://owncloud.epsitec.ch/owncloud/index.php/s/JqKPeywMAjewLCJ/download'
    ref: ''
    out: microsoft+buildtools-vcxx-<THIS.$VERSION>.zip
    externals: true
  type: bin
  configure: ''
  rules:
    type: exec
    location: data/microsoft+buildtools-vcxx-<THIS.$VERSION>/vs_BuildTools.exe
    args:
      postinst: |-
        --quiet
        --norestart
        --wait
        --noWeb
        --nocache
        --noUpdateInstaller
        --locale En-us
        --installPath <PEON.ROOTDRIVE>/xcraft/microsoft/buildtools
        --add Microsoft.VisualStudio.Workload.VCTools
        --add Microsoft.VisualStudio.Component.TestTools.BuildTools
        --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64
        --add Microsoft.VisualStudio.Component.VC.ATLMFC
        --add Microsoft.VisualStudio.Component.VC.ATL
      prerm: |-
        modify
        --quiet
        --norestart
        --wait
        --noWeb
        --noUpdateInstaller
        --locale En-us
        --installPath <PEON.ROOTDRIVE>/xcraft/microsoft/buildtools
        --remove Microsoft.VisualStudio.Workload.VCTools
        --remove Microsoft.VisualStudio.Component.TestTools.BuildTools
        --remove Microsoft.VisualStudio.Component.VC.Tools.x86.x64
        --remove Microsoft.VisualStudio.Component.VC.ATLMFC
        --remove Microsoft.VisualStudio.Component.VC.ATL
  env:
    path:
      - <OS.ROOTDRIVE>/xcraft/microsoft/buildtools/MSBuild/Current/Bin
    other: {}
  embedded: true
