subpackage:
  - runtime*
name: vlasenko+busybox
version: 1.32.0-7
$version: 1.32.0
distribution: carnotzet/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The Swiss Army Knife of Embedded Linux
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-glibc-cross:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://www.busybox.net/downloads/busybox-<THIS.$VERSION>.tar.bz2'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && make ARCH=arm64 CROSS_COMPILE=aarch64-linux- defconfig
      && sed -i 's,^# CONFIG_STATIC.*,CONFIG_STATIC=y,' .config
  rules:
    type: make
    location: data/busybox-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: ARCH=arm64 CROSS_COMPILE=aarch64-linux- -j<PEON.CPUS.COUNT>
      maketest: ''
      makeinstall: ARCH=arm64 CROSS_COMPILE=aarch64-linux- install CONFIG_PREFIX="<PEON.INSTALLDIR>"
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
