subpackage:
  - runtime*
name: gnu+mpc
version: 1.1.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: GNU Multiple-precision C library.
  long: >-
    GNU MPC is a C library for the arithmetic of complex numbers with
    arbitrarily high precision and correct rounding of the result.
dependency:
  install:
    gnu+gmp:
      - version: '>= 5'
        architecture: []
    gnu+mpfr:
      - version: '>= 3'
        architecture: []
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://ftp.gnu.org/gnu/mpc/mpc-<THIS.VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && ./configure --prefix=<PEON.PREFIXDIR>
    --disable-shared --enable-static
  rules:
    type: make
    location: data/mpc-<THIS.VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
