subpackage:
  - runtime*
name: gnu+bison
version: 3.8.2
$version: 3.8.2
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Bison.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+help2man:
      - version: ''
        architecture: []
    wall+perl:
      - version: ''
        architecture: []
    gnu+m4:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/bison/bison-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 06c9e13bdf7eb24d4ceb6b59205a4f67c2c7e7213119644430fe82fbd14a0abb.tar.gz
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>
                --disable-nls
  rules:
    type: make
    location: data/bison-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other:
      BISON_PKGDATADIR: <OS.ROOTDIR>/usr/share/bison
  embedded: true
  runtime:
    configure: ''
