subpackage:
  - runtime*
name: samba+rsync
version: 3.1.3
$version: 3.1.3
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Utility that provides fast incremental file transfer.
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://download.samba.org/pub/rsync/src/rsync-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --disable-nls
                     --disable-locale
                     --disable-iconv-open
                     --disable-iconv
                     --disable-acl-support
                     --disable-xattr-support
                     --with-included-zlib
                     --with-included-popt
                     --disable-maintainer-mode
                     --disable-debug
  rules:
    type: make
    location: data/rsync-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
