subpackage:
  - runtime*
name: x-aarch64-linux+gnu-binutils
version: 2.32-5
$version: '2.32'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: GNU Bin Utils.
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/binutils/binutils-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix="<PEON.ROOTDIR>/var/tmp/x-aarch64-linux"
                --target=aarch64-linux
                --disable-multilib
                --disable-nls
                --with-gmp=<PEON.ROOTDIR>/usr
                --with-mpfr=<PEON.ROOTDIR>/usr
                --with-mpc=<PEON.ROOTDIR>/usr
                --with-isl=<PEON.ROOTDIR>/usr
  rules:
    type: make
    location: data/binutils-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
