subpackage:
  - runtime*
name: bagder+curl
version: 7.50.3-6
$version: 7.50.3
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: curl
  long: ''
dependency:
  install:
    adler+zlib-dev:
      - version: ''
        architecture: []
    openssl+openssl:
      - version: ''
        architecture: []
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    xcraft+build-essential:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://curl.haxx.se/download/curl-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --disable-ldap
                     --disable-ldaps
  rules:
    type: script
    location: data/curl-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '!make -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '!make install'
    test: none
    env:
      win/CPPFLAGS: '-D_WIN32_WINNT=0x0502'
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
