subpackage:
  - runtime*
name: bagder+curl
version: 7.81.0-6
$version: 7.81.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: curl
  long: ''
dependency:
  install:
    adler+zlib-dev:
      - version: ''
        architecture: []
    openssl+openssl:
      - version: ''
        architecture: []
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    xcraft+build-essential:
      - version: ''
        architecture: []
    apple+macos-sdk-1013:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
data:
  get:
    uri: 'http://curl.haxx.se/download/curl-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: ac8e1087711084548d788ef18b9b732c8de887457b81f616fc681d1044b32f98.tar.gz
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --disable-ldap
                     --disable-ldaps
                     --with-openssl
  rules:
    type: script
    location: data/curl-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '!make -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '!make install'
    test: none
    env:
      win/CPPFLAGS: '-D_WIN32_WINNT=0x0502'
      darwin/SDKROOT: <PEON.ENV.MACOSSDK_1013>
      darwin/MACOSX_DEPLOYMENT_TARGET: '10.13'
  deploy: ''
  env:
    path: []
    other:
      CURL_CA_BUNDLE: '<OS.NAME=win32?/usr/ssl/certs/ca-bundle.crt:>'
  embedded: true
  runtime:
    configure: ''
