subpackage:
  - runtime*
name: gnu+glibc
version: '2.33'
$version: '2.33'
distribution: carnotzet/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The GNU C Library
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-glibc-cross:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/glibc/glibc-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 2e2556000e105dbd57f0b6b2a32ff2cf173bde4f0d85dffccfd8b7e51a0677ff.tar.xz
  type: src
  configure: |-
    !mkdir -p <THIS.DATA.RULES.LOCATION>
      && cd <THIS.DATA.RULES.LOCATION>
      && ../configure --prefix=/usr
                      --build=$MACHTYPE
                      --host=aarch64-linux
                      --target=aarch64-linux
                      --with-sysroot="<PEON.ROOTDIR>/usr/aarch64-linux"
                      --disable-multilib
                      --disable-werror
                      --enable-kernel=3.2
  rules:
    type: script
    location: data/glibc-<THIS.$VERSION>/build
    args:
      postinst: ''
      prerm: ''
      makeall: '!make -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '!make install DESTDIR=<PEON.INSTALLDIR>/var/aarch64-linux/rootfs'
    test: none
    env:
      CC: ''
      CXX: ''
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
