name: microsoft+dotnet-sdk-win
version: 10.0.0-1
$version: 10.0.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: .NET Core SDK 3.1 and 5.0
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    microsoft+dotnet-sdk-31-win:
      - version: ''
        architecture: []
    microsoft+dotnet-sdk-50-win:
      - version: ''
        architecture: []
data:
  get:
    uri: ''
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: |-
    cp('<PEON.ROOTDIR>/usr/share/microsoft/dotnet-sdk-31-win/cache/data', 'root/opt/dotnet-sdk');
    cp('<PEON.ROOTDIR>/usr/share/microsoft/dotnet-sdk-50-win/cache/data', 'root/opt/dotnet-sdk');
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path:
      - opt/dotnet-sdk
    other:
      DOTNET_ROOT: <OS.ROOTDIR>/opt/dotnet-sdk
      DOTNET_CLI_TELEMETRY_OPTOUT: '1'
  embedded: true
