subpackage:
  - runtime*
name: mquinson+po4a
version: '0.57'
$version: '0.57'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The po4a (PO for anything)
  long: ''
dependency:
  install:
    xmlsoft+libxslt:
      - version: ''
        architecture: []
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    perl+module-build:
      - version: ''
        architecture: []
    gnu+gettext:
      - version: ''
        architecture: []
    perl+locale-gettext:
      - version: ''
        architecture: []
    perl+pod-parser:
      - version: ''
        architecture: []
    debian+docbook:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://github.com/mquinson/po4a/releases/download/v<THIS.$VERSION>/po4a-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    $hash: bb55ec2b419ec7eefb0f13752fb08bc2701e6689467b6e1994bb5d9ae711cd97.tar.gz
  type: src
  configure: '!cd <THIS.DATA.RULES.LOCATION>/ && perl Build.PL'
  rules:
    type: script
    location: data/po4a-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '!./Build'
      maketest: ''
      makeinstall: '!./Build install --prefix=<PEON.PREFIXDIR>'
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
