subpackage:
  - runtime*
name: gnu+readline
version: 8.0-2
$version: '8.0'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The GNU Readline Library.
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/readline/readline-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: e339f51971478d369f8a053a330a190781acb9864cf4c541060f12078948e461.tar.gz
  type: src
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
                     --enable-static
                     --enable-shared
  rules:
    type: make
    location: data/readline-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
