subpackage:
  - runtime*
name: xmlsoft+libxml2
version: 2.9.9
$version: 2.9.9
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The XML C parser and toolkit of Gnome.
  long: |-
    Libxml2 is the XML C parser and toolkit developed for the Gnome project
    (but usable outside of the Gnome platform), it is free software available
    under the MIT License.
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
data:
  get:
    uri: 'ftp://xmlsoft.org/libxml2/libxml2-<THIS.$VERSION>.tar.gz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>
                --without-debug
                --without-docbook
                --without-ftp
                --with-html
                --without-http
                --without-iconv
                --without-zlib
                --without-lzma
                --without-python
  rules:
    type: make
    location: data/libxml2-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
