<!DOCTYPE html>
<html ng-app="lokthar">
    <head>
        <title>Lokthar - &copy;Epsitec 2014</title>
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="css/lokthar.css">
        <link rel="stylesheet" href="css/cssterm.css">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-ui-router.min.js"></script>
        <script src="js/checklist-model.js"></script>
        <script src="js/jquery.js"></script>      
        <script> //Fix for jquery loading
          try {
              $ = jQuery = module.exports;
              // If you want module.exports to be empty, uncomment:
              // module.exports = {};
          } catch(e) {}
        </script>
        <script src="js/uikit.min.js"></script>
        <script src="lokthar.js"></script>
        <script src="modules/packages/module.js"></script>
        <style>
        
        </style>
    </head>
    <body class="uk-height-1-1">
        <nav class="uk-navbar uk-navbar-attached uk-fixed-titlebar" ng-controller="HomeController">
            <a class="uk-navbar-brand" ui-sref="home"><i class="uk-icon-button uk-icon-rocket"></i> Epsitec Toolchain</a>
            <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
                <div class="uk-button-group">
                    <button class="uk-button" ng-click="minimize()"><i class="uk-icon-minus"></i></button>
                    <button class="uk-button" ng-click="maximize()"><i ng-class="{'uk-icon-expand': maximized==false, 'uk-icon-compress' : maximized}"></i></button>
                    <button class="uk-button uk-button-danger" ng-click="quit()"><i class="uk-icon-power-off"></i></button>
                </div>
            </div>
        </nav>
        <nav class="uk-navbar uk-fixed-navigation" ng-controller="HomeController">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="" ui-sref-active="uk-active">
                    <a ui-sref="home"><i class="uk-icon-star"></i> Navigation</a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li class="uk-nav-header">Epsitec</li>
                            <li><a ui-sref="profile"><i class="uk-icon-user"></i> Mon profile</a></li>
                            <li><a ng-click="openGitlab()"><i class="uk-icon-flask"></i> Gitlab</a></li>
                            <li class="uk-nav-header">Mon syst&egrave;me</li>
                            <li><a ng-click="openSysroot()"><i class="uk-icon-folder-open-o"></i> Ouvrir le sysroot</a></li>
                            <li><a ui-sref="config"><i class="uk-icon-cog"></i> Configurer</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a ng-click="openConsole()"><i class="uk-icon-bug"></i> Debug</a></li>
                            <li><a ui-sref="about"><i class="uk-icon-question"></i> A propos</a></li>
                        </ul>
                    </div>
                </li>
                <li ui-sref-active="uk-active">
                    <a ui-sref="packages.manager" ><i class="uk-icon-puzzle-piece"></i> Packages</a>
                </li>
            </ul>
        </nav>
        <div class="content-pusher"> </div>
        <div ui-view></div>
    </body>
</html>