subpackage:
  - runtime*
name: samba+ccache
version: 4.8.2-1
$version: 4.8.2
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: A fast C/C++ compiler cache.
  long: |-
    ccache is a compiler cache. It speeds up recompilation by caching previous
    compilations and detecting when the same compilation is being done again.
    Supported languages are C, C++, Objective-C and Objective-C++.
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
          - linux-aarch64
          - darwin-i386
          - darwin-amd64
          - darwin-aarch64
          - solaris-i386
          - solaris-amd64
          - freebsd-i386
          - freebsd-amd64
bump: []
data:
  get:
    uri: 'https://github.com/ccache/ccache/releases/download/v<THIS.$VERSION>/ccache-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 75eef15b8b9da48db9c91e1d0ff58b3645fc70c0e4ca2ef1b6825a12f21f217d.tar.gz
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && mkdir build
      && cd build
      && cmake -G "Unix Makefiles"
               -DENABLE_DOCUMENTATION=OFF
               -DENABLE_TESTING=OFF
               -DREDIS_STORAGE_BACKEND=OFF
               -DCMAKE_PREFIX_PATH=<PEON.PROD.ROOTDIR>/usr
               -DCMAKE_INSTALL_PREFIX=<PEON.PREFIXDIR>
               -DCMAKE_BUILD_TYPE=Release ..
  rules:
    type: make
    location: data/ccache-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-C build -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '-C build install'
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other:
      CCACHE_DIR: <OS.ROOTDIR>/var/ccache
      CCACHE_NOHASHDIR: 'true'
  embedded: true
  runtime:
    configure: ''
