subpackage:
  - runtime*
name: samba+ccache
version: 3.7.9
$version: 3.7.9
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: A fast C/C++ compiler cache.
  long: |-
    ccache is a compiler cache. It speeds up recompilation by caching previous
    compilations and detecting when the same compilation is being done again.
    Supported languages are C, C++, Objective-C and Objective-C++.
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://github.com/ccache/ccache/releases/download/v<THIS.$VERSION>/ccache-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./configure --prefix=<PEON.PREFIXDIR>/local
  rules:
    type: make
    location: data/ccache-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
  deploy: ''
  env:
    path: []
    other:
      CCACHE_DIR: <OS.ROOTDIR>/var/ccache
  embedded: true
  runtime:
    configure: ''
