data:
  configure: |-
    !{bash}
    cd <THIS.DATA.RULES.LOCATION> &&
    <PEON.OS=darwin?
      SDKROOT="$MACOSSDK_1013"
      MACOSX_DEPLOYMENT_TARGET=10.10
    :>
    CC="${CC:-cc} $CFLAGS"
    <PEON.OS=darwin?
      ./Configure darwin64-{PEON.OS.ARCH2}-cc
    :>
    <PEON.OS=win?
      ./Configure mingw64
    :>
    <PEON.OS=linux?
      ./config
    :> shared --prefix=<PEON.PREFIXDIR>
  rules:
    args:
      makeall: |-
        !<PEON.OS=darwin?
          SDKROOT="$MACOSSDK_1013"
          MACOSX_DEPLOYMENT_TARGET=10.10
        :> make -j<PEON.CPUS.COUNT>
