subpackage:
  - runtime*
name: llvm+llvm
version: 8.0.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: LLVM
  long: ''
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    llvm+clang:
      - version: = 8.0.1
        architecture: []
    llvm+polly:
      - version: = 8.0.1
        architecture: []
    llvm+libcxx:
      - version: = 8.0.1
        architecture: []
    llvm+libcxxabi:
      - version: = 8.0.1
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
    samba+ccache-clang:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
data:
  get:
    uri: >-
      https://github.com/llvm/llvm-project/releases/download/llvmorg-<THIS.VERSION>/llvm-<THIS.VERSION>.src.tar.xz
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !mkdir -p "<PEON.PREFIXDIR>/bin" && ln -s clang "<PEON.PREFIXDIR>/bin/gcc"
    && ln -s clang "<PEON.PREFIXDIR>/bin/cc" && ln -s clang++
    "<PEON.PREFIXDIR>/bin/g++" && ln -s clang++ "<PEON.PREFIXDIR>/bin/c++" && cd
    <THIS.DATA.RULES.LOCATION> && ln -sf
    <PEON.ROOTDIR>/usr/share/llvm/clang/cache/data/cfe-<THIS.VERSION>.src
    tools/clang && ln -sf
    <PEON.ROOTDIR>/usr/share/llvm/polly/cache/data/polly-<THIS.VERSION>.src
    tools/polly && ln -sf
    <PEON.ROOTDIR>/usr/share/llvm/libcxx/cache/data/libcxx-<THIS.VERSION>.src
    projects/libcxx && ln -sf
    <PEON.ROOTDIR>/usr/share/llvm/libcxxabi/cache/data/libcxxabi-<THIS.VERSION>.src
    projects/libcxxabi && mkdir -p BUILD && cd BUILD && cmake -G "Unix
    Makefiles" -DCMAKE_INSTALL_PREFIX=<PEON.PREFIXDIR> -DLLVM_CCACHE_BUILD=ON
    -DCMAKE_BUILD_TYPE=Release ..
  rules:
    type: make
    location: data/llvm-<THIS.VERSION>.src/
    args:
      postinst: ''
      prerm: ''
      makeall: '-C BUILD -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '-C BUILD install'
    test: none
  deploy: ''
  env:
    path: []
    other:
      CFLAGS: >-
        -O2 -g0 -fPIC -march=core2 -mtune=haswell -I<OS.ROOTDIR>/usr/include
        -Wl,-rpath,<OS.ROOTDIR>/usr/lib,-rpath,<OS.ROOTDIR>/usr/lib64
        -Qunused-arguments
      CXXFLAGS: >-
        -O2 -g0 -fPIC -march=core2 -mtune=haswell -I<OS.ROOTDIR>/usr/include
        -Wl,-rpath,<OS.ROOTDIR>/usr/lib,-rpath,<OS.ROOTDIR>/usr/lib64
        -Qunused-arguments -stdlib=libc++
      LDFLAGS: '-L<OS.ROOTDIR>/usr/lib -L<OS.ROOTDIR>/usr/lib64 -stdlib=libc++'
      MACOSX_DEPLOYMENT_TARGET: '10.10'
      CCACHE_PATH: <OS.ENV.PATH>
  embedded: true
  runtime:
    configure: ''
