subpackage:
  - runtime*
name: llvm+llvm
version: 8.0.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: LLVM
  long: ''
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    llvm+clang:
      - version: = 8.0.0
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://releases.llvm.org/<THIS.VERSION>/llvm-<THIS.VERSION>.src.tar.xz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !cd <THIS.DATA.RULES.LOCATION> && ln -sf
    <PEON.ROOTDIR>/usr/src/llvm+clang_<THIS.VERSION> tools/clang && mkdir -p
    BUILD && cd BUILD && cmake -G "Unix Makefiles"
    -DCMAKE_INSTALL_PREFIX=<PEON.PREFIXDIR> -DCMAKE_BUILD_TYPE=Release ..
  rules:
    type: make
    location: data/llvm-<THIS.VERSION>.src/
    args:
      postinst: ''
      prerm: ''
      makeall: '-C BUILD -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '-C BUILD install'
    test: none
  deploy: ''
  env:
    path: []
    other:
      CCACHE_PATH: <OS.ENV.PATH>
  embedded: true
  runtime:
    configure: ''
