subpackage:
  - runtime*
name: llvm+llvm
version: 8.0.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: LLVM
  long: ''
dependency:
  build:
    toolchain+xcraft-peon:
      - version: ''
        architecture: []
    llvm+clang:
      - version: = 8.0.0
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
    samba+ccache-clang:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
data:
  get:
    uri: 'http://releases.llvm.org/<THIS.VERSION>/llvm-<THIS.VERSION>.src.tar.xz'
    ref: ''
    out: ''
    externals: true
  type: src
  configure: >-
    !mkdir -p "<PEON.PREFIXDIR>/bin" && ln -s clang "<PEON.PREFIXDIR>/bin/gcc"
    && ln -s clang "<PEON.PREFIXDIR>/bin/cc" && ln -s clang++
    "<PEON.PREFIXDIR>/bin/g++" && ln -s clang++ "<PEON.PREFIXDIR>/bin/c++" && cd
    <THIS.DATA.RULES.LOCATION> && ln -sf
    <PEON.ROOTDIR>/usr/src/llvm+clang_<THIS.VERSION> tools/clang && mkdir -p
    BUILD && cd BUILD && cmake -G "Unix Makefiles"
    -DCMAKE_INSTALL_PREFIX=<PEON.PREFIXDIR> -DCMAKE_BUILD_TYPE=Release ..
  rules:
    type: make
    location: data/llvm-<THIS.VERSION>.src/
    args:
      postinst: ''
      prerm: ''
      makeall: '-C BUILD -j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: '-C BUILD install'
    test: none
  deploy: ''
  env:
    path: []
    other:
      CFLAGS: '-I<OS.ROOTDIR>/usr/include'
      CXXFLAGS: '-I<OS.ROOTDIR>/usr/include'
      LDFLAGS: '-L<OS.ROOTDIR>/usr/lib'
      CCACHE_PATH: <OS.ENV.PATH>
  embedded: true
  runtime:
    configure: ''
