name: microsoft+dotnet-sdk-60-darwin
version: 6.0.410
$version: 6.0.410
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - darwin-amd64
description:
  brief: .NET SDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+utils:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://download.visualstudio.microsoft.com/download/pr/190b69f8-f50a-4d68-bd44-8bfc5271265a/a29b1769b5e5d73366cb34ba3bccf9d9/dotnet-sdk-<THIS.$VERSION>-osx-x64.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
  type: bin
  configure: |-
    yield exec(
      'writefile',
      '#!/bin/sh\ndotnet msbuild "$@"\n',
      'data/sdk/<THIS.$VERSION>/msbuild'
    );
    yield exec('chmod', 'a+x', 'data/sdk/<THIS.$VERSION>/msbuild');
  rules:
    type: configure
    location: data
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
